@import './static/css/config.styl'

.logo
  height 0.45rem
  text-align center
  line-height 0.45rem
  font-size .25rem
  color #fff
  background-color $color-theme
  .music-icon
    padding-right .08rem
  // .title
